a {
  text-decoration: none;
  margin: 5px 16px;
}

.card :hover {
  box-shadow: 1px 1px 7px 9px rgba(0,0,0,0.1);
}

.recommendation :hover {
  box-shadow: none;
}

.description {
  color: #2c2c2c;
  overflow: hidden;
  height: 60px;
  line-height: 13.3px;
  margin: 5px 16px;
  width: auto;
}

.img {
  background: #eee;
  cursor: pointer;
  height: 160px;
  left: 0px;
  line-height: 160px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ribbon .price {
  padding: 8px 12px;
  font-weight: bold;
  position: absolute;
  top: 12px;
  left: -6px;
  border-radius: 0 3px 3px 0;
  font-weight: bold;
  background-color: #fc0;;
  color: #000;
}​

.recommendationRow {
  display: table-row;
  overflow: hidden;
  margin: 44px 60px 8px 60px;
}

.recommendation {
  float: left;
  font-size: 12px;
  font-family: Arial, Tahoma;
  display: table-column;
  margin: 24px 10px 8px 10px;
  background-color: #fff;
  border: 1px solid #e9e8e6;
  border-bottom-color: #dad7c8;
  box-sizing: border-box;
  padding: 166px 0 8px;
  position: relative;
  width: 21.66%;
}

.title {
  color: #069;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  height: 24px;
  margin: 5px 16px;
  overflow: hidden;
}

.title :hover {
  text-decoration: underline !important;
}

