/* image is 261 x 174 pix */
.img {
  height: 174px;
  margin-top: -7px;
  vertical-align: middle;
  width: 261px;
}

.divTableRow {
  display: table-row;
  width: auto;
}

.divCell {
  float: left;
  display: table-column;
  width: 200px;
}